<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); -%>
  <link rel="stylesheet" href="/news/news.css">
  <title>Document</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="#">
      <img src="../images/Logo.png" alt="Logo Jobtable">
    </a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </nav>
  <section id="news" class="container-fluid">
    <div class="row">
      <div class="col heading">
        <div class="left">
          <img src="<%=news.avt%>" alt="">
        </div>
        <div class="center">
          <div class="head" id="<%=news.id%>">
            <h1><%=news.title %></h1>
          </div>
          <div class="salary">
            <i class="fas fa-dollar-sign"></i>
            <span><%=news.salary.min %> - <%=news.salary.max %></span>
          </div>
          <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <span><%=news.location %></span>
          </div>
        </div>
  
          <div class="right">
            <button class="btn btn-submit btn-warning btn-lg">Ứng tuyển</button>
          </div>
      
      </div>

    </div>
    <div class="row content">
      <div class="lable">
        <div class="text">
          Cấp bậc: 
        </div>
        <div class="text">
          Lĩnh vực:
        </div class="text">
        <div class="text">
          Loại công việc:
        </div>
        <div class="text">
          Địa điểm làm việc:
        </div>
      </div>
      <div class="data">
        <div class="text">
          <%=news.level%>
        </div>
        <div class="text">
          <%=news.field%>
        </div>
        <div class="text">
          <%=news.type%>
        </div>
        <div class="text">
          <%=news.location%>
        </div>
      </div>
    </div>
  </section>
  <%- include('partials/scripts'); -%>
  <script src="/news/news.js"></script>
</body>

</html>